.button{
  background: $blue;
  border: none;
  font-weight: 300;
  font-size: $font-size-large;
  color: white;
  display: inline-block;
  padding: $s-size;
  line-height: 1;
  text-decoration: none;
}
.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}
//1.Create new file
//2. Setup selector styles
//3. Setup className on login Button